<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline">
                    <li>
                        <a class="page-scroll" href="#intro">Home</a>
                    </li>
                    {{ range where .Data.Pages "Section" "about" | first 1 }}
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    {{ end }}
                    {{ range where .Data.Pages "Section" "services" | first 1 }}
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a class="page-scroll" href="#services">{{ .Title }}</a>
                    </li>
                    {{ end }}
                    {{ range where .Data.Pages "Section" "pricing" | first 1 }}
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a class="page-scroll" href="#pricing">Pricing</a>
                    </li>
                    {{ end }}
                    {{ if isset .Site.Params "social" }}
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                    {{ end }}
                </ul>
                <p class="copyright text-muted small">Copyright &copy; {{ .Title }} All Rights Reserved</p>
            </div>
            <div class="col-md-4">
                {{ range where .Data.Pages "Section" "hugo" | first 1 }}
                    <div>
                        {{ .Content }}
                    </div>
                {{ end }}
                {{ range where .Data.Pages "Section" "imprint" | first 1 }}
                    <div class="text-muted small">
                        {{ .Content }}
                    </div>
                {{ end }}
            </div>
        </div>
    </div>
</footer>
{{ partial "js.html" . }}
</body>
</html>
